<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="cention-QA">
<listeners>
	<listener class-name="base.Listeners"/>
</listeners>

<test name="Administration">
<parameter name="browser" value="chrome"/>
	<classes>
		<class name="testCasesArea.AdministrationTC"/>
	</classes>
</test>
</suite>