<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="cention-QA">
<test name="login">
<parameter name="browser" value="chrome"/>
	<classes>
		<class name="testCasesArea.LoginTC">
			<methods>
			    <include name="loginToApplication"/>
				<include name="VerifyLogout_01"/>
			</methods>
		</class>

	</classes>
</test>
</suite>